# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\AI_work\CS50's Introduction to Artificial Intelligence with Python\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
